extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/api-docs/') Swagger Documentation of the API
  br
  a(href='#{GRAFANAURL}') Grafana Dashboard
  br
  a(href='https://gitlab.com/flight-training') Code Repo
